body {
  margin: 0;
  background: black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#slideshow {
  max-width: 100vw;
  max-height: 100vh;
  object-fit: contain;
  transition: opacity 1s ease-in-out;
  opacity: 1;
}
